* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
}

.num-pad {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.display {
  border: none;
  background-color: lightcyan;
  width: 100%;
  height: 40px;
  font-size: 32px;
  font-weight: 600;
}

button {
  border: none;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 25%;
}

.digit {
  background-color: lightgoldenrodyellow;
}

.operator {
  background-color: lightblue;
}

.clear {
  background-color: lightsalmon;
}

.result {
  background-color: lightgreen;
}

.button-row {
  display: flex;
  gap: 5px;
  flex: 1;
}

.digit .operator .result {
  flex: 1;
}
